<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.practicemall.mapper.ProductMapper">
    <insert id="registerProduct" parameterType="com.study.practicemall.dao.ProductDAO" useGeneratedKeys="true" keyProperty="productId" >
        insert into PRODUCT (product_code, product_name, product_price, product_comment, create_date, update_date)
        values (#{productCode}, #{productName}, #{productPrice}, #{productComment}, now(), now())
    </insert>
</mapper>